/* .details{
    overflow-x: hidden;
} */

.details-header{
    background: var(--primary-color);
    height: 100vh;
    width: 100vw;
    
}

.details-user-data {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.details-user-data .image{
    height: 6rem ;
    width: 6rem;
    border-radius: 50%;
    border: 5px solid var(--color-light);
    overflow: hidden;
    margin-bottom: 1rem;
}
.details-user-data .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details-user-data h2{
    font-size: 2rem;
    color: var(--color-light);
    text-transform: uppercase;
}
.user-details-tags{
    margin-top: 3rem;
    display: flex; 
}

.user-details-tags div {
    background-color: transparent;
    border: 1px solid var(--dark-light-blue);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
    color: var(--color-slate);
}
.user-details-tags div p{
    font-size: 1.2rem;
}


.chart{

    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--dark-blue)
}
.details-user-data .tag{
    margin-bottom: 1rem;
}
.desc{
    color: var(--color-slate);
    text-transform: uppercase;
    font-size: 0.6rem;
}

.num{
    font-size: 2rem;
    font-weight: bold;
    color: var(--light-blue);
    margin-bottom: 0.8rem;
}

.repos{
    padding: 5rem 2rem;
}

.repos .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.repos .title h3{
    font-size: 2rem;
    color: #777;
    font-weight: 400;
}
.repos .title select{
    padding: 0.5rem 2.4rem;
    font-size: 1rem;
    color: #777;
}

.repos .repos-output{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    padding: 2rem 5rem
}
.repos-output .card{
    padding: 1rem 1.3rem;
}
.repo-footer {
    display: flex;
    justify-content: space-between;
}
.repos-desc{
    font-size: 0.9rem;
    padding: 1rem 0;
    color:#777;
}
.repo-details-parent{
    display: flex;
    
}
.repo-title{
    font-size: 1.1rem;
    color: var(--light-blue);
    text-transform: lowercase;
}
.repo-details{
    margin-right: 0.8rem;
}

.repo-details p{
    text-transform: uppercase;
}

@media screen and (max-width: 1700px) {
    .details-user-data .image{
        height: 15rem ;
        width: 15rem;
       
    }

    .details-user-data h2{
        font-size: 3rem;
       
    }
    .user-details-tags{
        margin-top: 3rem;
        display: flex;
       
    }
}

@media screen and (max-width: 720px) {
    .details-user-data .image{
        height: 10rem ;
        width: 10rem;
       
    }
    .repos .repos-output{
        display: block;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width:650px){
    .details-user-data .image{
        height: 6rem ;
        width: 6rem;
       
    }
    .user-details-tags div {
        padding: 1rem 1.2rem;
        
    }
    .user-details-tags{
        display: block; 
    }

    .repos .title{
      
        padding: 0 2rem;
        
    }
    .repos{
        padding: 0.5rem;
    }
}
@media screen and (max-width:460px){
    .details-user-data h2{
        font-size: 1.5rem;
       
    }

    .repos .title{
      display: block;
      text-align: center;
    }
    .repos .title select{
        margin-top: 1rem;
    }
    
}

@media screen and (max-width: 380px) {
    .details-user-data .image{
        height: 5rem ;
        width: 5rem;
       
    }
    .user-details-tags div{
        padding: 0.5rem;
    }
    .details-user-data .tag{
        margin-bottom: 0.5rem;
    }

    .repo-title{
        font-size: 0.8rem;
    }
    .repos-desc{
        font-size: 0.7rem;
    }
    .repos .repos-output{
    
        padding: 1rem 0.5rem;
    }
    .repos{
        padding: 0.5rem;
    }
    
}
